.avue-top {
    padding: 0 30px 0 0;
    position: relative;
    color: rgba(0, 0, 0, .65);
    font-size: 28px;
    height: 70px;
    box-sizing: border-box;
    white-space: nowrap;
    .el-menu-item{
        i,span{
            font-size: 13px;
        }
    }
}
.avue-breadcrumb {
    height: 28px;
    position: fixed;
    top: 0;
    left: 156px;
    .svg{
      width: 28px;
      height: 28px;
      fill: currentColor;
      overflow: hidden;
      margin: 21px 0 21px 20px;
    }
}
.avue--collapse .avue-breadcrumb{
  left: 0px;
}
.top-menu {
    box-sizing: border-box;
    .el-menu-item {
        padding: 0 10px;
        border:none !important;
    }
}

.top-search {
    line-height: 64px;
    position: absolute !important;
    left: 20px;
    top:0;
    width: 400px !important;
    .el-input__inner {
        font-size: 13px;
        border: none;
        background-color: transparent;
    }
}

.top-bar__img {
    margin: 0 8px 0 5px;
    padding: 2px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    box-sizing: border-box;
    border: 1px solid #eee;
    vertical-align: middle;
}

.top-bar__left,
.top-bar__right {
    height: 70px;
    i{
        line-height: 70px;
    }
}

.top-bar__left {
    line-height: 70px;
    color: #262626;
    left: 0;
    font-size: 20px;
    .top-bar_left_title{
      padding-left: 20px;
    }
}

.top-bar__right {
    right: 20px;
    display: flex;
    align-items: center;
}

.top-bar__item {
    position: relative;
    display: inline-block;
    height: 64px;
    margin:0 10px;
    font-size: 16px;
    &--show {
        display: inline-block !important;
    }
    .el-badge__content.is-fixed{
        top:12px;
        right: 5px;
    }
}

.top-bar__title {
    height: 100%;
    padding:0 40px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: inherit;
    font-weight: 400;
}
.avue-breadcrumb-icon{
  position: relative;
  width: 28px;
  height: 15px;
  margin: 7px auto;
  background-color: #E1BF7F;
  &:before {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      left:0;
      bottom:-15px;
      border-width: 7.5px 14px;
      border-style: solid;
      border-color: #E1BF7F transparent transparent transparent;
  }
  &:after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      left:0;
      border-width: 7.5px 14px;
      border-style: solid;
      border-color: transparent transparent #E1BF7F transparent;
      bottom:15px;
  }
}
.avue-logo {
  width: 190px;
  height: 70px;
  background-color: #20222a;
  font-size: 20px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.8);
  .top-img{
    width: 100px;
    margin-left: 20px;
  }
}
.icon-icon_mine{
  vertical-align: middle;
  margin-right: 10px;
}
.avue-layout{
  position: relative;
}
